{#{% extends 'DOCTOR/doctor home.html' %}#}
{#{% block body %}#}
{##}
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <div align="center">#}
{#    <table width="657" height="332" border="1">#}
{#      <tr>#}
{#        <td width="94"><div align="center">Sl no </div></td>#}
{#        <td width="142" height="49"><div align="center">Phone number </div></td>#}
{#        <td width="130"><div align="center">email id </div></td>#}
{#        <td width="129"><div align="center">Last visited </div></td>#}
{#        <td width="128"><div align="center">Date </div></td>#}
{#        <td width="128"><div align="center">Last findings </div></td>#}
{#      </tr>#}
{#      <tr>{% for i in oc %}#}
{#        <td>&nbsp;{{forloop.counter  }}</td>#}
{#        <td>&nbsp;{{ i.USER.phone }}</td>#}
{#        <td>&nbsp;{{ i.USER.email }}</td>#}
{#        <td>&nbsp;{{ i.SCHEDULE.fromtime }} - {{i.SCHEDULE.totime  }}</td>#}
{#        <td>&nbsp;{{ i.SCHEDULE.date }}</td>#}
{#        <td> <a href="/doctor_viewLastFindings/{{ i.USER.id }}" > Last Findings</a> </td>#}
{#      </tr>{% endfor %}#}
{#      </table>#}
{#  </div>#}
{#</form>#}
{#</body>#}
{#{% endblock %}#}


{% extends 'DOCTOR/doctor home.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Last Visited Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS for specific styling */
    .table-container {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="table-container">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sl no</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email id</th>
            <th scope="col">Last visited</th>
            <th scope="col">Date</th>
            <th scope="col">Last findings</th>
          </tr>
        </thead>
        <tbody>
          {% for i in oc %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.USER.phone }}</td>
            <td>{{ i.USER.email }}</td>
            <td>{{ i.SCHEDULE.fromtime }} - {{ i.SCHEDULE.totime }}</td>
            <td>{{ i.SCHEDULE.date }}</td>
            <td><a href="/doctor_viewLastFindings/{{ i.USER.id }}" class="btn btn-info btn-sm">Last Findings</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
