{% extends 'USER/user home.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/user_changePasswordCode">
  <div align="center">
    <table width="545" height="247" border="1">
      <tr>
        <td height="48" colspan="2"><div align="center">Change Password </div>          <div align="center"></div></td>
      </tr>
      <tr>
        <td width="224" height="70"><div align="center">Enter Current Password </div></td>
        <td width="305"><div align="center">
          <label>
          <input type="text" name="textfield" />
          </label>
        </div></td>
      </tr>
      <tr>
        <td height="73"><div align="center">Enter new password </div></td>
        <td><div align="center">
          <label>
          <input type="text" name="textfield2" />
          </label>
        </div></td>
      </tr>
        <tr>
        <td height="73"><div align="center">Confirm new password </div></td>
        <td><div align="center">
          <label>
          <input type="text" name="textfield3" />
          </label>
        </div></td>
      </tr>
      <tr>
        <td height="44" colspan="2"><div align="center">
          <label>
          <input type="submit" name="Submit" value="Submit" />
          </label>
        </div>          <div align="center"></div></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}